footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    line-height: 35px;
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
}
.note{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 20%;
    padding: 3%;
    margin-top: 1%;
    border-radius: 3%;
    background-color: rgb(209, 205, 205);
}