
.signup {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;  
    line-height: 50px;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.head {
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}

.button {
    margin-top: 15px;
    padding: 12px;
    width: 25%;
    font-weight: bold;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.button:hover {
    font-weight: bold;
    background-color: #3374a8;
    color: #ffffff;
}
